<div class="container">
  <h2>Compresión y Descompresión de Huffman</h2>

  <div class="input-container">
    <textarea
      [(ngModel)]="textoOriginal"
      placeholder="Ingrese el texto original"
    ></textarea>
    <button (click)="compressText()">Comprimir</button>
  </div>

  <div class="result-container">
    <div>
      <h3>Texto Comprimido:</h3>
      <textarea [(ngModel)]="textoComprimido" readonly></textarea>
    </div>

    <button (click)="decompressText()">Descomprimir</button>

    <div>
      <h3>Texto Descomprimido:</h3>
      <textarea [(ngModel)]="textoDescomprimido" readonly></textarea>
    </div>

    <!-- Agregar información de tamaño -->
  </div>

  <div *ngIf="dictionary">
    <h3>Diccionario:</h3>
    <div *ngIf="dictionary.length > 0" class="table-container">
      <table>
        <thead>
          <tr>
            <th>Carácter</th>
            <th>Código</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of dictionary">
            <td>{{ entry.key }}</td>
            <td>{{ entry.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="original > 0 || comprimido > 0">
    <h3>Información de Tamaño:</h3>
    <p>Tamaño Original: {{ original }} bits</p>
    <p>Tamaño Comprimido: {{ comprimido }} bits7  e3wa</p>
  </div>
</div>
